{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    <h1>Factura</h1>

    
    <table class="record_properties table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Periodo</th>
                <td>{{ entity.periodo }}</td>
            </tr>
            <tr>
                <th>Fechaemision</th>
                <td>{{ entity.fechaEmision|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fechavencimiento</th>
                <td>{{ entity.fechaVencimiento|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Codigoautorizacionelectronico</th>
                <td>{{ entity.codigoAutorizacionElectronico }}</td>
            </tr>
            <tr>
                <th>Puntoventa</th>
                <td>{{ entity.puntoVenta }}</td>
            </tr>
            <tr>
                <th>Numerocomprobante</th>
                <td>{{ entity.numeroComprobante }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ entity.total }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('factura') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('factura_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
