{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    <h1>ReglaComprobante list</h1>

    <table class="records_list table">
        <thead>
            <tr>
                <th>Id</th>


                <th>emisor</th>

                <th>cliente</th>

                <th>comprobante</th>

                <th>Actions</th>
            </tr>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('reglacomprobante_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>

                <td>{{ entity.emisorRegimen.nombre }}</td>

                <td>{{ entity.clienteRegimen.nombre }}</td>

                <td>{{ entity.comprobanteTipo.nombre }}</td>

                <td>
                <ul>
                    <li>
                        <a href="{{ path('reglacomprobante_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('reglacomprobante_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('reglacomprobante_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
